/* ═══════ 全局 Reset ═══════ */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-sans);
    background-color: var(--color-bg);
    color: var(--color-fg);
    line-height: var(--line-height);
}

a {
    color: var(--color-fg-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
